<mat-toolbar color="primary" class="animate__animated animate__zoomIn animate__faster">
  <mat-toolbar-row
    ><span class="title-center">Recuração de senha</span>
  </mat-toolbar-row
  >
</mat-toolbar>

<mat-dialog-content class="animate__animated animate__zoomIn animate__faster">
  <form [formGroup]="forgotPasswordForm">
    <div>
      <mat-label>E-mail</mat-label>
      <mat-form-field appearance="outline">
      <input matInput formControlName="email" required  placeholder="Insira seu email de cadastro"/>
      <mat-icon matSuffix>email</mat-icon>
      @if (forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid) { <mat-error>
        @if (forgotPasswordForm.controls.email.errors.required) {<span>Email é obrigatório!</span>}
        @if (forgotPasswordForm.controls.email.errors.pattern) {<span>Este campo é inválido</span>} </mat-error> }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="btn-submit">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)"
  >
    Recuperar
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>Fechar</button>
</mat-dialog-actions>
