mat-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 210px;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
mat-form-field {
  width: 90%;
}
button {
  margin: 5px;
  padding: 10px;
}
mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: end;
}
.btn-submit {
  margin-bottom: 3px;
}
.title-center {
  margin: auto;
}
