mat-form-field {
  width: 100%;
}
.mat-toolbar-row {
  justify-content: center;
}
.btn-submit {
  margin-bottom: 10px;
}

span {
  margin-top: 3px;
}
.mdc-dialog, .mdc-dialog__content {
  padding: 10px 10px;
}
