
:host {
  display: flex;
  justify-content: center;
  margin-top: 200px;

}

mat-card {
  max-width: 350px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
mat-form-field {
  width: 100%;
}
