/* You can add global styles to this file, and also import other style files */
@import "./styles/variables.scss";

// STYLE VARIABLES

html,body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// STYLE SNACK BAR

.mat-mdc-snack-bar-container {
  &.green-snackbar {
    --mdc-snackbar-container-color: #26a500 !important;
    --mat-mdc-snack-bar-button-color: #fff !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
  }
  text-align: center;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
.mat-mdc-snack-bar-container {
  &.black-snackbar {
    --mdc-snackbar-container-color: black !important;
    --mat-mdc-snack-bar-button-color: #fff !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
  }
}
.mat-snack-bar-container {
  margin-right: auto !important;
  margin-left: auto !important;
  width: 40vw !important;
  min-width: 90% !important;
  max-width: 100vw !important;
  margin-top: 70px !important;
  padding: 20px !important;
}
